<html>
<head>
    <title>Online Bookstore</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script>
        function total(){
            qty = document.getElementById('book_qty').value
            price = document.getElementById('book_price').value
            document.getElementById('total_price').value=price*qty
<!--            alert(qty*price)-->
        }
    </script>
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="/">ONLINE BOOKSTORE</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
<!--        <li>-->
<!--      <form class="form-inline" action="/action_page.php">-->
<!--    <input class="form-control mr-sm-2" type="text" placeholder="Search">-->
<!--    <button class="btn btn-success" type="submit">Search</button>-->
<!--  </form>-->
<!--        </li>-->
        <li class="nav-item">
            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal"><i class="fa fa-shopping-cart"></i> Cart {{cart_items}}</button>
        </li>
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#"><div style="width:40px; height:40px; border-radius:20px; overflow:hidden"><img-->
<!--                src="https://www.tacthub.in/login/portal/panel/profile_image/IMG-20191214-WA0001.jpg" width="100%" alt=""></div></a>-->
<!--      </li>-->

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="color:white">
           {{user.name}}
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#" style=" padding: .25rem .5rem;"><i class="fa fa-user"></i> View Profile</a>
            <a class="dropdown-item" href="#" style=" padding: .25rem .5rem;"><i class="fa fa-pencil"></i> Update Profile</a>
            <a class="dropdown-item" href="#" style=" padding: .25rem .5rem;"><i class="fa fa-shopping-cart"></i> My Orders</a>
            <a class="dropdown-item" href="{% url 'logout' %}" style=" padding: .25rem .5rem;"><i class="fa fa-sign-out"></i> Logout</a>
          </div>
    </li>
    </ul>
  </div>
</nav>
<br>

<div class="container" style="background:#ffe4e196; padding:20px;">
    <div class="row">
         <form action="" method="post">
                {% csrf_token %}
        <div class="col-md-12">
            <p>Customer Detail</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" name="full_name" placeholder="Full Name *" value="{{user.name}}" class="form-control" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="email" name="email" placeholder="Email Address *" value="{{user.email}}" class="form-control" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" name="phone" placeholder="Contact Number *" value="{{user.phone}}" class="form-control" required>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <input type="text" name="state" placeholder="State *" value="{{upro.state}}" class="form-control" required>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <input type="text" name="City" placeholder="City/Town *" value="{{upro.city}}" class="form-control" required>
                    </div>
                </div>
<!--                <div class="col-md-4">-->
<!--                    <div class="form-group">-->
<!--                        <input type="text" name="landmark" placeholder="Landmark *" class="form-control">-->
<!--                    </div>-->
<!--                </div>-->
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" name="cust_add"  placeholder="Complete Address *" required class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <p>Book Detail</p>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" name="book_name" readonly value="{{book.book_name}}" placeholder="Book Name *" required class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" name="book_seller" readonly value="{{book.book_seller}}" placeholder="Seller Email *" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <input type="text" name="book_seller_name" readonly value="{{book.book_seller.name}}" placeholder="Seller Name*" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <input type="text" name="book_price" id="book_price" readonly value="{{book.book_price}}" placeholder="Book Price *" class="form-control">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <select name="book_qty"  id="book_qty" onchange="total()" class="form-control">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <input type="text" name="total_price"  id="total_price" value="{{book.book_price}}" readonly placeholder="Total Price *" class="form-control">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <input type="submit" name="save" value="Proceed to Pay" class="btn btn-success">
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>
<div class="modal" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"><i class="fa fa-shopping-cart"></i> My Shopping Cart</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <table class="table">
              <thead>
                <tr>
                    <th>Sr. No.</th>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Qty</th>
                    <th>Sub Total</th>
                    <th>Remove</th>
                </tr>
              </thead>
              {% for i in cart %}
              <tr>
                  <td>{{ forloop.counter }}
                  <td>{{i.book}}</td>
                  <td><i class="fa fa-inr"></i> {{i.price}}</td>
                  <td>
                      <select name="qty" id="qty" value="{{i.qty}}" class="form-control">
                          <option value="1">1</option>
<!--                          <option value="2">2</option>-->
<!--                          <option value="3">3</option>-->
<!--                          <option value="4">4</option>-->
<!--                          <option value="5">5</option>-->
                      </select>
                  </td>
                  <td><i class="fa fa-inr"></i>  {{i.price}}</td>
                  <td><a href="{% url  'del_cart' i.id %}"><i class="fa fa-trash"></i></a></td>
              </tr>
              {% endfor %}
              <tr>
                  <td>Total: <b><i class="fa fa-inr"></i> {{total}}</b></td>
              </tr>
          </table>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <a href="{% url 'cart_to_buy' %}"><button type="button" class="btn btn-primary" data-dismiss="modal">Proceed to Buy</button></a>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
</body>
</html>